@charset "UTF-8";

/* ↓設定した文字サイズを正しく反映する */
html {
  font-size: 100%;

}
body {
  font-family: "Yu Gothic Medium","sans-serif";
  line-height: 1.7;
  margin: 0px;
  background-image: url(../images/main_background.jpg);
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-size: contain;
  margin: auto;
}


/* ↓aタグの傍線の指定 */
a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
  
/* /////ヘッダー部分/// */

.logo {
  width: 120px;
  margin: 20px;
  /* ↓行の高さをゼロとしロゴの高さに丁度合う形へ設定 */
  line-height: 0;
  align-items: center;
}
  
.main-nav {
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 20px;
  margin-right: 20px;
  list-style: none;
}

.main-nav li {
   margin-left: 50px;
}

.main-nav a {
   color: #ffffff;
}
  
.main-nav a:hover {
   color: darkred;
}

.page-header {
   /* ↓横並びの指定(よく使う) */
   display: flex;
   /* ↓両端の設置の指定 */
   justify-content: space-between;
   width: 100%;
   margin: 0 auto;
   height: auto;
   padding: 0 0;
   background-color: #D58E76;
   /* position: absolute; */
  position: fixed;
  z-index:500;
   top: 0; /* 上下の固定位置を上から0pxにする */
   left: 0; /* 左右の固定位置を左から0pxにする */
}



/* /////各ページ共通部分/// */

.main-top {
  margin-top: 20px;
  font-size: 2em;
  display: flex;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.main-top p {
  font-size: 0.8em;
  padding-bottom: 50px;
}

/* /////スライダー部分/// */

.sliderArea {
  max-width: 90%;
  margin: 88px auto 0;
  padding: 0 25px;
  position: relative;

}
.sliderArea.w300 {
  max-width: 300px;
}
.slick-slide {
  margin: 0 5px;
}
.slick-slide img {
  width: 100%;
  height: auto;
}
.slick-prev, .slick-next {
  z-index: 1;
}
.slick-prev:before, .slick-next:before {
  color: #000;
}
.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}
.slick-active {
  opacity: 1;
}
.slick-current {
  opacity: 1;
}
.thumb {
  margin: 20px 0 0;
}
.thumb .slick-slide {
  cursor: pointer;
}
.thumb .slick-slide:hover {
  opacity: .7;
}



/* /////メインエリアバナー部分/// */

article {
  width: 58%;
}

.sub-banner {
  display: flex;
  justify-content: center;
}

.sub-banner img {
  margin-bottom: 10px;
}

.sub-banner img:hover {
  opacity: 0.7;
}

/* /////サイドバナー部分/// */

aside {
  width: 25%;
  padding-left: 10px;
  
}



/* /////フッター////////// */
footer {
  background: #D58E76;
  text-align: left;
  padding-top: 50px;
  color: #ffffff;
}

footer p {
  color: rgb(255, 255, 255);
  font-size: 0.875rem;
}

.copy {
  padding-top: 100px;
  padding-bottom: 10px;
  text-align: center;
}

.footer01 {
  color: #ffffff;
  font-size: 0.9rem;
}

.footer02 li {
  padding-bottom: 0.5em;
}

.footer-body {
  display: flex;
  justify-content: space-around;
}

.footer-body a {
  color: #ffffff;
}

.footer-body a:hover {
  color: darkred
}


.footer-access-body {
  width: 25%;
}

.footer-access-body {
  font-size: 0.9rem;
}

.footer-all-link img {
  width: 50px;
}

.footer-ig-icon {
  justify-content: flex-start;
}

.sample1 .caption {
	font-size: 0.3rem;
	text-align: right;
	padding-top: 5px;
	color: #fff;
}

.sub-copy {
  padding-top: 5px;
  padding-bottom: 20px;
  margin-bottom: 0em;
  text-align: center;
}



/* /////トップへ戻るボタン//// */

#page_top{
  width: 100px;
  height: 60px;
  position: fixed;
  right: 50px;
  bottom: 10px;
  background: #ef3f98;
  opacity: 0.6;
  border-radius: 15px;
}
#page_top a{
  position: relative;
  display: block;
  width: 100px;
  height: 60px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 20px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -25px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
#page_top a::after{
  content: 'PAGE TOP';
  font-size: 13px;
  color: #fff;
  position: absolute;
  top: 30px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
